.root {
    -fx-background-image: url("/images/cardimages/Cards.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-padding: 20px;
    -fx-opacity: 0.9;
}

#playerNameLbl, #editionLbl, #themeLbl, #difficultyLbl {
    -fx-background-color: cadetblue;
    -fx-padding: 5;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-text-fill: antiquewhite;
    -fx-font-size: 18px;
    -fx-font-family: "Comic Sans MS";
}

#selectionScreen {
    -fx-background-color: slategrey;
    -fx-padding: 10px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-color: black;
}

#playerNameBox {
    -fx-spacing: 10px;
}

#playerImagesBox {
    -fx-background-color: steelblue;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-spacing: 10px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

#row2Box, #editionBox, #themeBox, #difficultySelectionBox {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#editionSelection {
    -fx-background-color: steelblue;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

#easyBtn {
    -fx-background-color: lightblue;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#mediumBtn {
    -fx-background-color: lightblue;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#hardBtn {
    -fx-background-color: lightblue;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#easyBtn:hover, #easyBtn:selected {
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#mediumBtn:hover, #mediumBtn:selected {
    -fx-background-color: khaki;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#hardBtn:hover, #hardBtn:selected {
    -fx-background-color: lightsalmon;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#difficultySelection {
    -fx-background-color: steelblue;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-spacing: 10px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

#cardThemeSelection {
    -fx-background-color: steelblue;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-spacing: 10px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

#playBtn {
    -fx-background-color: steelblue;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#playBtn:hover {
    -fx-background-color: cornflowerblue;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
#playBtnBox {
    -fx-padding: 20;
}

.button:hover {
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.toggle-button {
    -fx-background-color: cadetblue;
}

.toggle-button:selected {
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.toggle-button:hover {
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}



